.div-card-start{
    padding-left: 7rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.bg-card-index{
    background-color: transparent;
}

.div-card-center{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.div-card-end{
    padding-right: 7rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}